* {
    box-sizing: border-box;
}

#body {
    background-color: #f2e5d7;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: fit-content;
}


/* Header */

header {
    margin: 10px;
    padding: 10px;
    border: 6px double #262322;
    min-width: fit-content;
}

/* Logo-Nav */

.header__div {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b b b";
    justify-items: center;
    align-items: center;
}

.header__div>a {
    grid-area: a;
}

.header__div>a>img {
    width: 6rem;
}

.header__div>nav {
    grid-area: b;
    margin-top: 10px;
    text-align: center;
    background-color: #262322;
    border-radius: 10px;
    border: 6px double #f2e5d7;
    display: flex;
    flex-direction: column;
}

.header__div>nav>a {
    color: #f2e5d7;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
}

.header__div>nav>a:not(:last-child) {
    border-bottom: 1px solid #f2e5d7;
}

/* Header responsive */

@media screen and (min-width: 768px) {

    header {
        padding-bottom: 0;
    }

    .header__div {
        grid-template-areas:
            "a a b b"
            "a a b b";
    }

    .header__div>a>img {
        width: 8rem;
        margin-bottom: 20px;
    }

    .header__div>nav {
        align-self: center;
        margin-bottom: 20px;
        border: 6px double #f2e5d7;
        flex-direction: row;
        justify-content: space-around;
    }

    .header__div>nav>a {
        font-size: 1.4rem;
        margin: 5px 0;
        transition: color 0.5s;
    }

    .header__div>nav>a:hover {
        color: #a62322;
    }

    .header__div>nav>a:not(:last-child) {
        border-bottom: none;
    }
}

/* Main */

main {
    margin: 15px 0;
    min-width: fit-content;
}


.crud {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c";
    justify-content: center;
}

/* Titulo */

.crud>.titulo {
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.crud>.titulo>h1 {
    font-size: 4rem;
    color: #f2e5d7;
    padding: 0 5px;
    border: 6px double #f2e5d7;
    background-color: #262322;
    box-shadow: -15px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.crud>.titulo>p {
    text-align: center;
    font-size: large;
}

/* Formulario CRUD */

.crud>.crudForm {
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.crud>.crudForm>form div:not(:last-child) {
    display: flex;
    flex-direction: column;
}

.crud>.crudForm>form div {
    padding: 0;
}

.crud>.crudForm>form label {
    font-size: large;
    font-weight: 600;
}

.crud>.crudForm>form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #262322;
    border-radius: 15px;
}

.crud>.crudForm>form .button {
    text-align: center;
}

.crud>.crudForm>form .button button[type=submit],
button[type=reset] {
    width: 35%;
    padding: 0;
    margin: 5px 5px;
    text-align: center;
    font-size: large;
    color: #262322;
    background-color: #f2e5d7;
    border: 2px solid #262322;
}

/* Tabla CRUD */

.crud>.crudTable {
    grid-area: c;
    overflow: auto;
}

.crud>.crudTable>.mainTable {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    margin: 15px 0 0 0;
    padding: 0;
}

.crud>.crudTable>.mainTable tr,
.mainTable td {
    border: none;
    width: fit-content;
}

.crud>.crudTable>.mainTable>thead>tr {
    outline: 2px solid #262322;
    background-color: #262322;
    color: #f2e5d7;
    border: none;
}

.crud>.crudTable>.mainTable thead tr th {
    font-size: larger;
    padding: 5px;
    border: 4px solid #f2e5d7;
    text-align: center;
}

.crud>.crudTable>.mainTable tbody>tr:nth-child(even) {
    background-color: #262322;
    color: #f2e5d7;
}

.crud>.crudTable>.mainTable tbody>tr a {
    margin: 0 10px;
    cursor: pointer;
}

.crud>.crudTable>.mainTable tbody>tr td {
    font-size: larger;
    padding: 5px;
}

/* Main responsive */

@media screen and (min-width: 768px) {

    .crud {
        grid-template-areas:
            "a a b b"
            "a a b b"
            "c c c c";
        justify-content: unset;
    }

    /* Titulo */

    .crud>.titulo {
        justify-content: center;
    }

    .crud>.titulo>h1 {
        font-size: 5rem;
    }

    /* Formulario CRUD */

    .crud>.crudForm>form label {
        font-size: larger;
    }

    .crud>.crudForm>form .button button[type=submit],
    button[type=reset] {
        transition: all 0.5s;
    }

    .crud>.crudForm>form .button button[type=submit]:hover,
    button[type=reset]:hover {
        color: #a62322;
        background-color: #262322;
    }

    /* Tabla CRUD */

    .crud>.crudTable>.mainTable tbody>tr a {
        transition: all 0.5s;
        font-size: larger;
    }

    .crud>.crudTable>.mainTable tbody>tr a:hover {
        color: #a62322;
    }
}

/* Footer */

footer {
    min-width: fit-content;
    border: 6px double #262322;
    margin: 10px 0 5px 0;
    padding-bottom: 10px;
}

footer>.footer__div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer>.footer__div>.footer__div-div {
    padding: 0 15px;
    margin: 5px 0 0 0;
}

footer>.footer__div>.footer__div-div h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #262322;
    text-align: center;
}

footer>.footer__div>.footer__div-div ul {
    list-style: none;
    padding: 0;
}

footer>.footer__div>.footer__div-div ul li {
    margin-bottom: 8px;
    text-align: center;
}

footer>.footer__div>.footer__div-div ul li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #262322;
    text-decoration: none;
    display: block;
    line-height: 25px;
}

footer>.footer__div>.footer__div-div>.redes {
    text-align: center;
}

footer>.footer__div>.footer__div-div>.redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #262322;
    border-radius: 50%;
    color: #262322;
    background-color: #f2e5d7;
}

@media screen and (min-width: 768px) {

    footer {
        padding-bottom: 0;
        border: none;
    }

    footer>.footer__div {
        flex-direction: row;
        padding: 0 40px 0 30px;
    }

    footer>.footer__div>.footer__div-div h4 {
        color: #f2e5d7;
        font-size: 1.5rem;
        text-align: left;
    }

    footer>.footer__div>.footer__div-div ul li {
        text-align: left;
    }

    footer>.footer__div>.footer__div-div ul li a {
        font-size: 1.2rem;
        transition: color 0.5s;
        color: #f2e5d7;
    }

    footer>.footer__div>.footer__div-div ul li a:hover {
        color: #a62322;
    }

    footer>.footer__div>.footer__div-div:first-child {
        align-self: center;
        border: 6px double #f2e5d7;
        border-radius: 15px;
        padding: 10px;
        background-color: #262322;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    footer>.footer__div>.footer__div-div:last-child {
        align-self: center;
        border: 6px double #f2e5d7;
        border-radius: 15px;
        background-color: #262322;
        padding: 26px;
        margin-bottom: 5px;
    }

    footer>.footer__div>.footer__div-div>.redes a {
        color: #262322;
        background-color: #f2e5d7;
        transition: all 0.5s;
    }

    footer>.footer__div>.footer__div-div>.redes a:hover {
        color: #262322;
        background-color: #a62322;
    }
}