#body {
    background-color: #f2e5d7;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: fit-content;
}

/* Header */

header {
    margin: 10px;
    padding: 10px;
    border: 6px double #262322;
    min-width: fit-content;
}

/* Logo-Nav */

.header__div {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b b b";
    justify-items: center;
    align-items: center;
}

.header__div>a {
    grid-area: a;
}

.header__div>a>img {
    width: 6rem;
}

.header__div>nav {
    grid-area: b;
    margin-top: 10px;
    text-align: center;
    background-color: #262322;
    border-radius: 10px;
    border: 6px double #f2e5d7;
    display: flex;
    flex-direction: column;
}

.header__div>nav>a {
    color: #f2e5d7;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
}

.header__div>nav>a:not(:last-child) {
    border-bottom: 1px solid #f2e5d7;
}

/* Header responsive */

@media screen and (min-width: 768px) {

    header {
        padding-bottom: 0;
    }

    .header__div {
        grid-template-areas:
            "a b";
    }

    .header__div>a>img {
        width: 8rem;
        margin-bottom: 20px;
    }

    .header__div>nav {
        height: fit-content;
        align-self: center;
        margin-bottom: 20px;
        font-size: 1.2rem;
        border: 6px double #f2e5d7;
        flex-direction: row;
        justify-content: space-around;
    }

    .header__div>nav>a {
        margin: 5px 0;
        transition: transform;
    }

    .header__div>nav>a:hover {
        transform: scale(110%);
    }

    .header__div>nav>a:not(:last-child) {
        border-bottom: none;
    }
}

/* Main */

main {
    margin: 15px 0;
    min-width: fit-content;
}


.crud {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";
    justify-items: center;
    align-items: center;
}

/* Titulo */

.crud>.titulo {
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.crud>.titulo>h1 {
    font-size: 4rem;
    color: #f2e5d7;
    padding: 0 5px;
    border: 6px double #f2e5d7;
    background-color: #262322;
    box-shadow: -15px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.crud>.titulo>p {
    text-align: center;
    font-size: large;
}

/* Formulario CRUD */

.crud>.crudForm {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crud>.crudForm> form div:not(:last-child) {
    display: flex;
    flex-direction: column;
}

.crud>.crudForm> form label {
    font-size: large;
    font-weight: 600;
}

.crud>.crudForm> form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #262322;
    border-radius: 15px;
}

.crud>.crudForm> form .button {
    text-align: center;
}

.crud>.crudForm> form .button button[type=submit],
button[type=reset] {
    width: 35%;
    padding: 0;
    margin: 5px 5px;
    text-align: center;
    font-size: large;
}



/* Tabla CRUD */

.crud>.crudTable {
    grid-area: c;
}

.crud>.crudTable>.mainTable {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: auto;
    /* border-collapse: collapse; */
}

.crud>.crudTable>.mainTable tr,
td {
    border: none;
    width: fit-content;
}

.crud>.crudTable>.mainTable>thead>tr {
    outline: 2px solid #262322;
    background-color: #262322;
    color: #f2e5d7;
    border: none;
}

.crud>.crudTable>.mainTable thead tr th {
    font-size: larger;
    padding: 5px;
    border: 4px solid #f2e5d7;
    text-align: center;
}

.crud>.crudTable>.mainTable tbody>tr:nth-child(even) {
    background-color: #262322;
    color: #f2e5d7;
}

.crud>.crudTable>.mainTable tbody>tr a {
    margin: 0 10px;
    cursor: pointer;
}

.crud>.crudTable>.mainTable tbody>tr td {
    font-size: larger;
    padding: 5px;
}

/* Main responsive */

@media screen and (min-width: 768px) {

    .crud {
        grid-template-areas:
        "a a b b"
        "a a b b"
        "c c c c";
    }
    
    /* Titulo */
    
    .crud>.titulo>h1 {
        font-size: 5rem;
    }
    
    /* Formulario CRUD */
    
    .crud>.crudForm> form label {
        font-size: larger;
    } 
}

/* Footer */

footer {
    min-width: fit-content;
    border: 6px double #262322;
    margin: 10px 0 5px 0;
    padding-bottom: 10px;
}